.content{
    width: 200px;
}

ul, li {
    padding: 0;
    margin: 0;
}
.block {
    display: block;
    width: 100%;
}
/* 下拉列表容器 */
.drop-down__container{
    display: none;
    border:  1px solid #ccc;
}
.container-search__input{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: block;
    padding: 3px 8px;
}
.container-list__all{
    max-height: 150px;
    overflow-y: scroll;
}

.container-list__item{
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
}

.container-list__item:hover{
    background-color: coral;
    color: white;
}
#filter-select{
  display: block;
  height: 25px;
  line-height: 25px;
  padding: 3px 8px;
  border:  1px solid #ccc;
  position: relative;
}
#filter-select::after{
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    top: 50%;
    transform: translate(0,-50%);
    margin-right: 5px;
    border-width:10px 8px 0;
    border-style:solid;
    border-color:#ccc transparent transparent;/*灰 透明 透明 */
}
.current-select{
    background-color: coral;
    color: white;
}

/* 下拉列表滚动条自定义 */
.container-list__all::-webkit-scrollbar{
    width: 6px;  
    height: 6px;  
    background-color: #F5F5F5;  
}
.container-list__all::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #FFF;  
}  
  
.container-list__all::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #AAA;  

}